.producto{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 1rem 1.5rem;
}

.producto__img{
    background-image: url('../../Assets/consolas-01.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 25rem;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.producto__caracteristica{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

@media screen and (max-width:650px){
    .producto{
        flex-direction: column;
    }
    .producto__img{
        width: 100%;

    }
    .producto__caracteristica{
        width: 100%;
        margin-top: 1rem;
    }
    .container__title{
        flex-direction: column;
    }
}